<span id="nav-user-name">{{name}}</span>
<a href="create.html" class="btn-nav-primary btn">{{icon "pen-line"}} New Post</a>
<a href="profile.html?id={{urlEncode id}}">{{icon "user"}} Profile</a>
<a href="#" id="nav-sign-out">{{icon "log-out"}} Sign Out</a>
